/* Style the What's Cooking? section */
.whats-cooking {
  background-color: #f7e6c4;
  padding: 2rem 1rem; /* Increased padding for better spacing */
  text-align: center;
}

/* Style the section heading */
.whats-cooking h2 {
  font-family: Georgia;
  margin-bottom: 1rem; /* Adjusted margin for better spacing */
  font-size: 2.5rem; /* Adjusted font size */
  font-weight: 300;
  line-height: 1.2;
}

/* Style the paragraphs */
.whats-cooking p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem; /* Add margin for spacing between paragraphs */
}

/* Responsive Design for small screens */
@media (max-width: 768px) {
  .whats-cooking {
    padding: 2rem 1rem;
    height: auto; /* Allow height to adjust based on content */
  }

  .whats-cooking h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0; /* Adjusted margin for better spacing */
  }

  .whats-cooking p {
    font-size: 1rem;
    margin-bottom: 1rem; /* Add margin for spacing between paragraphs */
  }
}